* {
  margin: 0;
  padding: 0;
}
.navline {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  background: grey;
}
.navline__imgedit {
  height: 5em;
  padding: 2em 3em;
}
.navbutton {
  padding: 2em 8em;
}
.navtext {
  display: flex;
}
.navtext__text {
  font-size: 0.7em;
  cursor: pointer;
  text-transform: uppercase;
  list-style-type: none;
  margin-left: 5em;
}
.navtext__text a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;
}
.navtext__text :hover {
  border-bottom: 1px solid white;
  padding-bottom: 1em;
  border-radius: 25px;
}
.light {
  padding-top: 2em;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.light__sectione {
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  width: 120px;
}
.sectione__slider {
  width: 10px;
  padding: 2em;
}
.tittle__one {
  padding: 1em ;
  position: absolute;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn__lighter {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
